@model MyMvcProject.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h2>Categories</h2>
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-4">
            <h4>@category.Name</h4>
        </div>
    }
</div>

<div class="row">
    <h2>Books</h2>
    @foreach (var book in Model.Books)
    {
        <div class="col-md-4">
            <h4>@book.Title</h4>
        </div>
        <p></p>
    }
</div>
