@model IEnumerable<MyMvcProject.Web.ViewModels.Home.BookViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-md-4">
            @book.Resume
        </div>
    }
</div>
